<% include ../layout/header%>
<% include ../layout/menu%>

<div class="container">
    <h3>Produtos</h3>
    <div class="panel panel-default" style=" background: #ddddddcc">
        <div id="listagemProdutos">
            <h1 class="text-center">Listagem</h1>

            <script>
                $("#navhome").removeClass("active");
                $("#navprodutos").addClass("active");
                $("#navclientes").removeClass("active");
                $("#navvendas").removeClass("active");
            </script>
        
            <input type="search" autofocus class="form-control ds-input" id="search-produtos" placeholder="Search...">
            <a href="/produtos/register"><button type="button" class="btn btn-primary" style="margin: 12px;">Adicionar novo produto</button></a>

            <script type="text/javascript">
                $(function(){
                    $("#search-produtos").keyup(function(){
                        var texto = $(this).val().toLowerCase();
                        
                        $(".linhas-produtos").removeClass("d-none");
                        $(".linhas-produtos").each(function(){
                            if($(this).text().toLowerCase().indexOf(texto) < 0)
                               $(this).addClass("d-none");
                        });
                    });
                });
                </script>


            <table id="listProdutos" class="table">

                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Preco</th>
                    <th></th>
                </tr>

                <!--
                        Using FOREACH LOOP for the users array
                        
                        myArray.forEach(function(el, index) {
                            // el - current element, i - index
                        });
                    -->
                <% if (data) { %>
                <% data.forEach(function(produto){ %>
                <tr class="linhas-produtos" >
                    <td>
                        <%= produto.id %>
                    </td>
                    <td>
                        <%= produto.nome %>
                    </td>
                    <td>
                        <%= produto.preco %>
                    </td>
                    <td>
                            <div style="float:right">
                                <a href='/produtos/<%= produto.id %>'>Edit</a> &nbsp;							
                                <form method="post" action="/produtos/<%= produto.id %>" style="float:right">
                                    <input class="btn btn-primary" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                                    <input type="hidden" name="_method" value="DELETE" />
                                </form>
                            </div>
                        </td>
                </tr>
                <% }) %>
                <% } %>

            </table>
        </div>
    </div>
    <% include ../layout/footer%>